@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: "Myriad", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.outer-margin {
	margin: 0 auto;
	max-width: 1040px;
}
.inner-margin {
	margin: 20px;
}
section {
	padding: 40px 0;
	border-top: 1px solid #c0c0c0;
}
.subsection {
	margin-bottom: 40px;
}
.subsection:last-child {
	margin-bottom: 0;
}
h1,
h2,
h3 {
	font-weight: 600;
}
h1 {
	font-size: 40px;
	padding: 40px 0;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
ul,
ol {
	list-style: none;
}
main .statictics-list {
	display: flex;
	justify-content: space-evenly;
}
main .statistics-large {
	font-size: 40px;
}
main .statistics-small {
	font-size: 20px;
	margin-left: 5px;
}
main .statistics-caption {
	color: #808080;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
main .chart-placeholder {
	font-size: 60px;
}
main #chart-sales-over-time {
	height: 40%;
}
main #chart-sales-by-location {
	height: 40%;
}
main #chart-sales-by-customer {
	height: 40%;
}
main .filters {
	column-gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 20px;
}
main .filters fieldset {
	border: none;
}
main .filters fieldset legend {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
main .filters fieldset input[type="text"] {
	border: 1px solid #c0c0c0;
	border-radius: 0.5em;
	font-size: 15px;
	padding: 0.25em 0.5em;
	width: 100%;
	-webkit-appearance: none;
}
main .filters fieldset input[type="text"]:focus {
	border-color: #0080ff;
	outline: none;
}
main table {
	font-size: 15px;
	width: 100%;
}
main table,
main table th,
main table td {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
main table th,
main table td {
	padding: 10px;
}
main table tr {
	vertical-align: top;
}
main table th {
	background-color: #e0e0e0;
	font-weight: 600;
}
main table .empty-placeholder-cell {
	color: #C0C0C0;
	text-align: center;
}